.edit-area
  &.disabled
    +disabled

  border: $border_width solid $color_border_light
  background-color: #fff
  .text-area
    padding: 0.25rem
  textarea
    &:focus
      outline: 0 none transparent
    border: none
    width: 100%
    resize: none
    padding: 0
    margin: 0
    font-size: 0.9rem
    max-height: 10em
  .controls
    +clearfix
    border-top: $border_width dotted $color_border_light
    .submit
      label
        padding: 0.5rem
        line-height: 2.2rem
        font-size: 0.8rem
        color: $color_sub_light
      button
        +button($color_main, #fff)

      border-left: $border_width dotted $color_border_light
      float: right
