@mixin clearfix
  &:after
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0

$base_font: 'PT Sans', sans-serif
$condenced_font: 'PT Sans Narrow', sans-serif