// fonts
$font_base: Tahoma, Verdana, sans-serif
$font_condenced: $font_base

$color_main: #000
$color_main_light: #444
$color_sub: #888
$color_sub_light: #aaa

$color_border: #aaa
$color_border_light: #ddd

$color_background: #f1f1f1
$color_background_light: #fafafa

$color_disabled: #ccc

$font_size: 0.875em

$border_width: 1rem / 14

$fontAwesomePath: asset-path('assets/font-awesome/font')

html
  font-size: $font_size
  font-family: $font_base
