// fonts
$font_base: 'PT Sans', sans-serif
$font_condenced: 'PT Sans Narrow', sans-serif

$color_main: #000
$color_main_light: #444
$color_sub: #888
$color_sub_light: #aaa

$color_border: #aaa
$color_border_light: #ddd

$color_background: #f1f1f1
$color_background_light: #fafafa

$color_disabled: #ccc

$font_size: 16px

$border_width: 1em / 16

$fontAwesomePath: asset-path('assets/font-awesome/font')

body
  font-size: $font_size
