body>header
  +clearfix
  border-bottom: $border_width solid $color_border

  h1
    float: left
    padding: 0
    margin: 0
    margin-bottom: $border_width
    line-height: 2rem
    font-family: $font_condenced
    text-transform: uppercase
  a.logo
    text-decoration: none
    color: inherit
  span
    display: inline-block
    &.head
      background-color: $color_main
      color: #fff
  ul
    float: right
    list-style-type: none
    padding: 0
    margin: 0
    height: 2rem

    li
      float: left
      margin: 0.5em 0
      &:nth-child(n+2)
        margin-left: 0.5em
        padding-left: 0.5em
        border-left: $border_width solid $color_main

    ul
      height: 1.25rem
      li
        margin: 0
        &:nth-child(n+2)
          margin-left: 0.25em
          padding-left: 0.25em
          border-left: $border_width dotted $color_main

  .locale strong
    font-weight: bolder
