@mixin clearfix
  &:after
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0

@mixin button($bk_color, $text_color)
  background-color: $bk_color
  color: $text_color
  padding: 0
  border: none
  font-size: 0.8em
  line-height: 1.4em
  padding: 0.1em 0.5em
  margin: 0.5em
  cursor: pointer
  text-transform: uppercase
  font: $font_condenced
  border: 1px solid $bk_color
  &:hover
    background-color: lighten($bk_color, 20%)
  &:active
    background-color: invert($bk_color)
    color: invert($text_color)
  &:disabled
    opacity: 0.5
    background-color: $bk_color
    color: $text_color

@mixin disabled
  position: relative
  opacity: 0.5
  &:after
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    content: '.'
    color: $color_border_light
    display: block
    background-image: url(image_path('background_stripes.gif'))

@mixin tooltip
  position: relative

  &:hover:after
    content: attr(data-tooltip)
    position: absolute
    left: 0
    top: 24px
    background-color: $color_main
    color: #fff
    font-size: 1em
    padding: 0.2em